/*------------------------------------*\ 
    #CONTENTS
/*------------------------------------*/ 
/**

*MAIN
**create-main  . . . Div holding 

*TEXT
**title  . . . . . . User project title

**/

/*------------------------------------*\ 
    #MAIN
/*------------------------------------*/ 
.create-main {
    position: relative;
    flex: content;
    align-items: center;
    flex-direction: column;
}

/*------------------------------------*\ 
    #TEXT
/*------------------------------------*/ 
.create-title {
    size: 1000%;
}