/*------------------------------------*\ 
    #CONTENTS
/*------------------------------------*/ 
/**

*SETTINGS
**root . . . . . . . General Variables

*DIVS
**user-cr-project  . Div holding all the below
**create-main  . . . Div holding title & create

*TEXT
**title  . . . . . . User project title

**/
/*------------------------------------*\ 
    #SETTINGS
/*------------------------------------*/ 
:root{
    --text-width: max(30%, 30rem);
}

/*------------------------------------*\ 
    #DIVS
/*------------------------------------*/ 
.user-create-project {
    position: relative;
    width: 100%;
    height: 100%;
}

.create-main {
    position: relative;
    flex: content;
    align-items: center;
    flex-direction: column;
}

/*------------------------------------*\ 
    #TEXT
/*------------------------------------*/ 
.create-title {
    width: var(--text-width);
}
.create-code {
    width: var(--text-width);
}