/*------------------------------------*\ 
    #CONTENTS
/*------------------------------------*/ 
/**

*SETTINGS
**root . . . . . . . root settings apply everywhere

*POPUPS
**nice-popup . . . . a tool for general popups
**popup-dialog . . . controls background color and border for popups
**popup-container  . holds all popup-contents
**popup-contents . . all visible elements of a popup
**popup-images . . . all images including button images

*VIDEO
**nice-video . . . . shows youtube videos on the top right

*SECTION-SELECTION
**section-button . . if user presses this, it shows that section

**/

/*------------------------------------*\
    #SETTINGS
\*------------------------------------*/
:root {
    --palette-serika-1: #525146;
    --palette-serika-2: #d8d6c3;
    --palette-serika-3: #bfb716;
    --palette-serika-4: #718F94;
    --palette-serika-5: #282828;

    --z-base: 0;
    --z-element: 3;
    --z-sidebar: 5;
    --z-dropdown: 10;
    --z-overlay: 20;

    --popup-size: 200px;

    --sidebar-height: 8rem; /*for vertical screens*/ /*find in general.cs*/
}

@property --popup-top{ /*changes depending on if the sidebar is top aligned or not.*/
    syntax: "<length>";
    inherits: true;
    initial-value: 0px;
}

/*------------------------------------*\
    #TOOLS
\*------------------------------------*/

.big-img{
    min-width: 100px;
    width: 90%;
}

.pixel-img{
    image-rendering: pixelated;
}

.simple-text{
    clear: both;
}

.simple-title{
    z-index: var(--z-overlay);
    position: absolute;
    width: 20%;
    transform: translateY(min(-130%, -80px));
    font-size: 1.5rem;
}

/*------------------------------------*\ 
    #POPUPS
/*------------------------------------*/ 
.nice-popup {
    position: absolute;
    
    top: var(--popup-top);
    right: 0;

    --ratio: 2;
    width: calc(var(--popup-size) * 2);
    height: var(--popup-size);

    z-index: var(--z-overlay);

    background-color: transparent;
}

@media (orientation: portrait) {
    .nice-popup{
        --popup-top: var(--sidebar-height)
    }
}

.popup-dialog{
    background-color: var(--palette-serika-5);
    border-color: var(--palette-serika-1);

    --border-ratio: 100;
    border-radius: calc(var(--popup-size) / var(--border-ratio));
    --padding-ratio: 50; 
    padding: calc(var(--popup-size) / var(--padding-ratio));
}

.popup-container{
    display: flex;

    /*center everything in popup*/
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /*will need children containers so it's not all one big line*/

    background-color: var(--palette-serika-5);
    color: var(--palette-serika-2);
}

.popup-contents{
    size: 10px;
}

.popup-images{
    --size: 32px;
    width: var(--size);
    height: var(--size);
}

.invisible-popup{
    opacity: 0;
    pointer-events: none;
}

/*------------------------------------*\ 
    #VIDEO
/*------------------------------------*/ 
.nice-video {
    position: absolute;
    
    top: var(--popup-top);
    pointer-events: auto;
    right: 0;

    z-index: var(--z-overlay);
}

/*------------------------------------*\ 
    #SIDEBAR
/*------------------------------------*/ 

/*HIDDEN SIDEBAR:*/
.hidden-sidebar{
    position: fixed;
    background-color: #115f6d00;
    border: none !important;
    box-shadow: none;
}

.hidden-sidebar:hover, .hidden-sidebar_hover{
    background-color: #6bc8d823;
}

@media (orientation: landscape) {
    .hidden-sidebar{
        width: 10px;
    }
}

.hide-bg-button{
    position: fixed;
    background-color: transparent;
    top: 500px;
    border-color: transparent;
    left: 0px;
    z-index: var(--z-overlay);
}

/*------------------------------------*\ 
    #SECTION-SELECTION
/*------------------------------------*/ 
.section-selection-container:not(.closed){
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
}

ttc-section-button{
    width: 20%;
    height: 33%;
    margin-block: 5%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    justify-content: center;
    text-align: center;
}

.section-button{
    display: flex;
    position: relative;

    --min-size: 50%;

    margin: 10px;
    min-height: var(--min-size);
    min-width: var(--min-size);
    height: var(--min-size);
    width: var(--min-size);
    border-radius: 50%;
    border-style: none;

    background-color: #141414;
    align-content: center;
    align-self: center;

    z-index: var(--z-element);
}

.section-button .glow{
    
}

@property --section-select-margin{
    syntax: "<length-percentage>";
    inherits: true;
    initial-value: 20%;
}

.left{
    margin-left: var(--section-select-margin);
    align-self: baseline;
}
.right{
    margin-right: var(--section-select-margin);
    align-self: last baseline;
}

ttc-bring-section-back{
    align-self: center;
    justify-self: center;
}

.bring-back-button{
    background-color: #222;
    color: #fff;
    border-color: #2e3033;
    border-style: solid;
    border-width: 4px;
    padding: 5px;
}
/*
*/