/*------------------------------------*\,
    #CONTENTS
\*------------------------------------*/
/**

*GENERAL
**webkit-scrollbar . scroll
**big-icon . . . . . icon images
**body . . . . . . . full background

*TOOLS
**gone . . . . . . . instantly gone no matter what
**slow-hide  . . . . slow version of gone
**lined-background . similar to codearea block

*WELCOME
**welcome  . . . . . main large text
**title  . . . . . . main title text
**subtitle . . . . . secondary text

*SIGN-IN
**si-section . . . . contains toggle and container
**sign-in  . . . . . only the container
**title  . . . . . . (sign in)
**flexbox  . . . . . 
**submit . . . . . . send to firebase button
**input  . . . . . . textbox for username
**output . . . . . . textbox for password

**/

/*------------------------------------*\
    #GENERAL
\*------------------------------------*/
:root {
    --space-1: 5vw;
    --space-2: 4rem;
    --space-3: 3rem;

	--inner-box-color: rgba(105, 105, 100, 0.26);

	--welcome-z-index: 5;

	--image-size-1: 15rem;
	--image-size-2: 5rem;

	--sidebar-active: 1px;
}

body {
    overflow-x: hidden;
}

.big-icon{
	position: relative;
	background: none;
	width: 100%;
	image-rendering: pixelated;
}

/*------------------------------------*\
    #TOOLS
\*------------------------------------*/
.gone{
	display: none;
	padding: 0%;
}

.slow-hide{
	transition: padding 1s, size 1s;
	padding: 0%;
	size: 0%;
	width: 0px;
	height: 0px;
}
.slow-hide * {
	display: none;
	visibility: none;
}
/*
.slow-hide > * {
	display: none;
}
*/

.lined-background {
	--line-size: min(8rem, 10vw);

 	background-image: repeating-linear-gradient(
        to bottom,
        #333333 0px,
        #333333 0px,
        #1a1a1a 1px,
        #1a1a1a var(--line-size)
    );
    background-attachment: local;
}

@property --shadow-size {
	syntax: "<length>";
	inherits: false;
	initial-value: 2px;
}

.text-shadow {
	text-shadow:
		calc(-1 * var(--shadow-size)) calc(-1 * var(--shadow-size)) 0 #000,  
		var(--shadow-size) calc(-1 * var(--shadow-size)) 0 #000,
		calc(-1 * var(--shadow-size)) var(--shadow-size) 0 #000,
		var(--shadow-size) var(--shadow-size) 0 #000;
}

.welcome-img {
	width: var(--image-size-1);
	height: var(--image-size-1);
	image-rendering: pixelated;
}

.normal-img{
	image-rendering: pixelated;
	/*max-height: 10%;
	max-width: 10%;*/

	width: 320px;
	height: 320px;
}

/*------------------------------------*\
    #WELCOME
\*------------------------------------*/
.welcome {
	--block-inset: 20px;

	--shadow-size: 4px;

    display: flex;

	justify-content: center;

	text-align: center;
	color: white;
	font-size: 2em;
	

	z-index: var(--welcome-z-index);

	box-sizing: border-box;
}

@media (orientation: landscape) {
	.welcome{
		padding-block: var(--block-inset);
		height: calc(100vh - var(--block-inset) * 2);
	}
}

@media (orientation: portrait) {
	.welcome{
		padding-block: 0;
		height: calc(100vh - var(--block-inset) * 4);
	}
}

.welcome > * {
	z-index: var(--welcome-z-index);

	outline: #000b solid 2px;
}

.welcome--demo {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-self: center;
	align-items: center;

	box-sizing: border-box;
	margin-inline: var(--space-1);

	background-color: var(--inner-box-color);

	border-color: #00000000;
	border-width: 0px;
	border-style: block;
	margin-block: 10px;
	outline: #000b solid 0px;
	border-radius: 3px;
}
@media (orientation: landscape) {
	.bevel-corners::before{
		height: min(calc(38% * 1.8), calc(100vh - var(--block-inset) * 4));
		width: max(calc(90% - var(--sidebar-active) * 100), calc(400px - var(--sidebar-active) * 50));
		
		margin-block: 60px;
	}
}
@media (orientation: portrait) {
	.bevel-corners::before{
		height: min(38%, calc(100vh - var(--block-inset) * 6));
		width: max(calc(85% - var(--sidebar-active) * 10), calc(400px - var(--sidebar-active) * 10));
	}
}
.bevel-corners{
	width: max(90%, 400px);
	height: 70%;
	/*--bevel-variable: 50px; 
	--bevel-oposite: calc(100% - var(--bevel-variable));
	clip-path: polygon(var(--bevel-variable) 0%, 
	var(--bevel-oposite) 0%, 
	100% var(--bevel-variable), 
	100% var(--bevel-oposite), 
	var(--bevel-oposite) 100%, 
	var(--bevel-variable) 100%, 
	0% var(--bevel-oposite), 
	0% var(--bevel-variable));*/
}

.bevel-corners::before{
	position: absolute;
	content: "";
	border: 3px #141414 solid;
	/*width: max(80%, 400px);
	height: 70%;*/
	background-color: #141414;
	z-index: -1;

    --x-stretch-left-far: 30px;
	--x-stretch-right-far: calc(100% - var(--x-stretch-left-far));
    --x-stretch-left: 50px;
    --x-stretch-right: calc(100% - var(--x-stretch-left));

    --y-stretch-top-far: 30px;
    --y-stretch-bottom-far: calc(100% - var(--y-stretch-top-far));
    --y-stretch-top: 50px;
    --y-stretch-bottom: calc(100% - var(--y-stretch-top));

    clip-path: polygon(
        var(--x-stretch-right-far) 100%, 
        var(--x-stretch-left-far) 100%, 
        0% var(--y-stretch-bottom-far), 
        0% var(--y-stretch-top-far), 
        var(--x-stretch-left-far) 0%, 
        var(--x-stretch-right-far) 0%, 
        100% var(--y-stretch-top-far), 
        100% var(--y-stretch-bottom-far), /*this is the outside area*/
        var(--x-stretch-right-far) 100%, 
        var(--x-stretch-right-far) var(--y-stretch-bottom), 
        var(--x-stretch-right-far) var(--y-stretch-top), 
        var(--x-stretch-right) var(--y-stretch-top-far), 
        var(--x-stretch-left) var(--y-stretch-top-far), 
        var(--x-stretch-left-far) var(--y-stretch-top), 
        var(--x-stretch-left-far) var(--y-stretch-bottom), 
        var(--x-stretch-left) var(--y-stretch-bottom-far), 
        var(--x-stretch-right) var(--y-stretch-bottom-far), 
        var(--x-stretch-right-far) var(--y-stretch-bottom)); /*this is the inside masked out*/
}

@media (orientation: portrait) {
	.welcome--demo {
		margin: 10%;
	}
}

.welcome--demo--input, .welcome--demo--output {
	margin-block: 10px;
	outline: #000b solid 5px;
	border-radius: 3px;
}

@media (orientation: portrait) {
	.welcome--demo--input {
		font-size: large;
		margin: 5px
	}
}

.welcome--demo--input--text {
	display: flex;
	text-align: center;
	flex-direction: row;
}

@media (orientation: portrait) {
	.code-highlight, .welcome--demo--output-img, .welcome--demo--output  {
		gap: 0 !important;
		padding: 0 !important;
	}
}

.welcome--demo--output, .welcome--demo--input {
	display: flex;
	align-items: center;
	text-align: center;

	height: var(--line-width);
	--line-width:100px;
	min-width: 300px;

	padding-inline: 20px;
}

.welcome--demo--output-img, .welcome--demo--next-img {
	image-rendering: pixelated;
	padding-inline: 30px;
	--scale: 3;

	width: calc(var(--line-width) * var(--scale));
	height: calc(var(--line-width) * var(--scale));
}

.welcome--demo--learn {
	box-sizing: border-box;
}

.welcome--demo--learn-button, .welcome--demo--output-button {
	background-color: #0000;
	border-color: #0000;

	image-rendering: pixelated;
}

.welcome--demo--learn-button {
	width: var(--image-size-1);
	height: var(--image-size-1);
}

.welcome--demo--learn-button > * { width: inherit; height: inherit; }

.welcome--sign-in {
	display: flex;
	justify-content: center;
	align-items: center;
}

/*------------------------------------*\
    #SIGN IN
\*------------------------------------*/
.si-section {
	position: relative;
	display: flex;
	flex-direction: row;
}

.sign-in{
	position: relative; 
	padding-inline: .1rem;
	padding-top: 0.5em;
	padding-bottom: 0.7em;
	transition: width .3s ease-in-out, height .3s ease-in-out;
	border: rgba(0, 0, 0, 0.281);
	border-radius: 3rem;
	border-style: solid;
	background-color: #000a;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 40vw;
	height: 30vh;
}

.si-title{
	position: relative;
	left: 0%;
	font-size: 2em;
	text-align: center;
}

.si-button-flexbox{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.si-submit{
	width: 100px;
	line-height: 0.9em;
}

.si-submit,
.si-input,
.si-output {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 1.5em;
	text-align: center;
	margin: 0.5rem 0.5rem; /* uniform spacing */
	font-size: 0.8em;
	line-height: 0.9em;
}



/*------------------------------------*\
    #PIXEL CARD
\*------------------------------------*/
@property --transition-speed {
  syntax: "<time>";
  inherits: true;
  initial-value: 0.1s;
}

.pixel-card {
  transition: transform var(--transition-speed, 0.5s);

  --pixel-size: 100px;
  /*keep width and height the same*/
  --pixel-width: 10;
  --pixel-height: 10;

  width: calc(var(--pixel-size) * var(--pixel-width));
  height: calc(var(--pixel-size) * var(--pixel-height));
  background: rgb(213, 236, 228);

  border: solid;
  border-style: block;
  border-color: black;
  border-width: var(--pixel-size);

  --clip-inset: 10%;

  --inset-opposite: calc(100% - var(--clip-inset));
  clip-path: polygon(
    0% var(--clip-inset),
    var(--clip-inset) var(--clip-inset),
    var(--clip-inset) 0%,
    var(--inset-opposite) 0%,
    var(--inset-opposite) var(--clip-inset),
    100% var(--clip-inset),
    100% var(--inset-opposite),
    var(--inset-opposite) var(--inset-opposite),
    var(--inset-opposite) 100%,
    var(--clip-inset) 100%,
    var(--clip-inset) var(--inset-opposite),
    0% var(--inset-opposite)
  );

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.pixel-card:hover {
  transform: rotate(10deg);
}

.pixel-card:active {
  transform: scale(90%) rotate(10deg);
}
