/*------------------------------------*\
    #CONTENTS
\*------------------------------------*/
/**

*1
**

**/

/*------------------------------------*\
    #1
\*------------------------------------*/
.tiny-img{
    --size: 16px;
    width: var(--size) !important;
    height: var(--size) !important;
    max-width: var(--size) !important;
    max-height: var(--size);
}

.buy-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
}

.error{
    color: red !important;
}

.no-buy, .no-buy *{
    cursor: not-allowed !important;
    opacity: .5;
    pointer-events:all;
}